<div class="message-group hide-overflow">
  <!-- Avatar = Send username as well, then grab avatar URL from object?
  <div class="avatar-large animate" style="background-image: url(https://cdn.discordapp.com/embed/avatars/0.png)"></div>
  -->
    <tui-avatar text="{{ message?.createdBy }}"
      class="tui-space_top-1"
      [autoColor]="true"
      size="s"
      class="avatar-large animate"
    ></tui-avatar>
    <div class="comment">
      <div class="message first">
        <h2 style="line-height: 16px;">
          <span class="username-wrapper v-btm">
            <strong class="user-name">{{ message?.createdBy }}</strong>
          </span>
          <span class="highlight-separator"> - </span>
          <span class="timestamp"> {{ message?.createdOn }}</span>

          <tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="open" style="float:right">
            <button tuiButton type="button" appearance="flat" [iconRight]="icon"></button>
          </tui-hosted-dropdown>

          <ng-template #icon>
            <tui-svg
              src="tuiIconMoreVer"
              class="icon"
              [class.icon_rotated]="open"
            ></tui-svg>
          </ng-template>

          <ng-template #dropdown>
            <tui-data-list>
              <button *ngFor="let item of items" tuiOption (click)="onClick(item)">
                {{item}}
              </button>
            </tui-data-list>
          </ng-template>
        </h2>
      <div innerHtml="processed" class="message-text"> {{ message?.content }} </div>
    </div>
  </div>
</div>
