<div>
  <mat-grid-list cols="6" rowHeight="6.5em" gutterSize="10px">


    <!-- CHANNEL SECTION -->
    <mat-grid-tile rowspan="6" colspan="1" class="card-background">
      <app-channel [typesOfShoes]="typesOfShoes" (channelEmitter)="selectChannel($event)"> </app-channel>
    </mat-grid-tile>

    <!-- HEADER BOX-->
    <mat-grid-tile rowspan="1" colspan="4" class="card-background">
      {{ selectedShoe }}
    </mat-grid-tile>

    <!-- USER SECTION -->
    <mat-grid-tile rowspan="6" colspan="1" class="card-background">

    </mat-grid-tile>

    <mat-grid-tile rowspan="5" colspan="4" class="card-background">
      <!--- <div class="mat-grid-tile-content"> Chat and messagebox component </div> -->

      <div class="message-listing">
        <!-- Somehow loop div with css
        Use Angular template?!
        -->
        <mat-list>
          <div class="chat-message message-box">
            <mat-list-item class="username-color"> Pepper </mat-list-item>
          </div>

          <div class="chat-message message-box">
            <mat-list-item class="username-color"> Pepper </mat-list-item>
          </div>

          <div class="chat-message message-box">
            <mat-list-item class="username-color"> Pepper </mat-list-item>
          </div>
        </mat-list>
      </div>

      <div class="input-box">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput #message maxlength="256" placeholder="Type your message">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </form>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
