<!-- <div tuiMode="onDark" class="dark"> -->
    <form [formGroup]="messageForm" class="input-box">
      <tui-text-area
        formControlName="textValue"
        tuiHintContent="Remember to follow the rules!"
        [expandable]="true"
        [tuiTextfieldMaxLength]="maxLength"
        class="field-small">
        Type your message...
        </tui-text-area>
      <tui-field-error formControlName="textValue"></tui-field-error>
    </form>
    <button tuiIconButton type="button" (click)="sendMessage()" class="send-button"> Send </button>
<!-- </div> -->
