<div class="tui-container tui-container_fullwidth">
  <div class="tui-row tui-row_box">

    <!-- Left side: User component -->
    <div class="tui-col_2">
      <app-channel [channels]="channels" (channelEmitter)="selectChannel($event)"></app-channel>
    </div>

    <!-- Middle: Header, Message and Chat input component -->
    <div class="tui-col_8">
        <app-chat-window [messages]="messages"
          (sendMessageEmitter)="sendMessage($event)"
          (deleteMessageEmitter)="deleteMessage($event)"
          (editMessageEmitter)="editMessage($event)">
        </app-chat-window>
    </div>

      <!-- Right side: User component -->
    <div class="tui-col_2">
      <app-user-list></app-user-list>
    </div>

  </div>
</div>
