<div tuiMode="onDark" class="dark">
  <div class="input-box">
    <form [formGroup]="messageForm">
      <tui-text-area
        formControlName="textValue"
        tuiHintContent="Remember to follow the rules!"
        [expandable]="true"
        class="field-small">
        <!-- [tuiTextfieldMaxLength]="maxLength"> -->
        Type your message...
        </tui-text-area>
      <tui-field-error formControlName="textValue"></tui-field-error>
    </form>
  </div>

  <div class="send-button">
    <button tuiIconButton type="button" (click)="sendMessage()"> Send </button>
  </div>
</div>
