<div class="tui-container tui-container_adaptive">
      <div class="tui-row-6 tui-col-1">
          <div class="dummy">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
              asperiores atque autem beatae debitis eaque ipsa nemo non sequi
              ut? Aperiam beatae blanditiis distinctio, eius et excepturi
              illum nostrum vel.
          </div>
      </div>

      <div class="tui-row-1 tui-col-4">
        <div class="dummy">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
            asperiores atque autem beatae debitis eaque ipsa nemo non sequi
            ut? Aperiam beatae blanditiis distinctio, eius et excepturi
            illum nostrum vel.
        </div>
     </div>

     <div class="tui-row-6 tui-col-1">
      <div class="dummy">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
          asperiores atque autem beatae debitis eaque ipsa nemo non sequi
          ut? Aperiam beatae blanditiis distinctio, eius et excepturi
          illum nostrum vel.
      </div>
   </div>

   <div class="tui-row-5 tui-col-1">
    <div class="dummy">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores atque autem beatae debitis eaque ipsa nemo non sequi
        ut? Aperiam beatae blanditiis distinctio, eius et excepturi
        illum nostrum vel.
    </div>
 </div>
</div>
