<div>
  <mat-grid-list cols="6" rowHeight="6.5em" gutterSize="10px">

    <!-- CHANNEL SECTION -->
    <mat-grid-tile rowspan="7" colspan="1" class="card-background">
      <app-channel [channels]="channels" (channelEmitter)="selectChannel($event)"> </app-channel>
    </mat-grid-tile>

    <!-- HEADER BOX-->
    <mat-grid-tile rowspan="1" colspan="4" class="card-background">
      {{ selectedChannel?.name }}
    </mat-grid-tile>

    <!-- USER SECTION -->
    <mat-grid-tile rowspan="7" colspan="1" class="card-background">

    </mat-grid-tile>

    <!-- Message list and input component -->
    <mat-grid-tile rowspan="6" colspan="4" class="card-background">
      <app-chat-window [messages]="messages"
        (sendMessageEmitter)="sendMessage($event)"
        (deleteMessageEmitter)="deleteMessage($event)"
        (editMessageEmitter)="editMessage($event)"
        ></app-chat-window>
    </mat-grid-tile>

  </mat-grid-list>
</div>
