<mat-grid-list cols="4" rowHeight="108px" width="100%">
  <mat-grid-tile rowspan="6" colspan="1" style="background: lightpink;">

    <!-- TODO:
    Figure out how to handle components
    1. either define component like below, then let them do each thing seperatly
    2. or use "<mat-list class="conversations">" and do everything here
    3. Pass data to component

    check:
    https://www.nexmo.com/legacy-blog/2018/03/28/build-chat-app-angular-material-stitch-javascript-dr
    -->

    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let channel of channels" [value]="channel" (click)="selectChannel(channel)">
        {{ channel.name }}
      </mat-list-option>
    </mat-selection-list>

  </mat-grid-tile>

  <mat-grid-tile  rowspan="1" colspan="2" style="background: lightblue">
    <div class="mat-grid-tile-content">
       {{ selectedChannel?.name }}
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="6" colspan="1" style="background: lightgreen">
    <div class="mat-grid-tile-content"> Users list component </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="5" colspan="2" style="background: rgb(221, 189, 241)">
    <div class="mat-grid-tile-content"> Chat and messagebox component </div>
  </mat-grid-tile>

</mat-grid-list>

