a.title {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 92vh;
  background-color: var(--tui-base-01);
  padding: 10px;
}


.wrapper2 {
  display: flex;
  background-color: var(--tui-base-01);
}

html, body {
  height: 100%;
}
