.whole-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.listing {
  position: absolute;
  top: 0;
  left: 5px;
  width: 95%;
  max-height: 100%;
}

.message-listing {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97%;
}

.message-box {
  min-height: 75px;
  max-height: 120px;
  border-radius: 10px;
}

.text-message-color {
  color: var(--tui-text-02-night);
}
.chat-message:hover {
  background-color: rgba(0, 0, 0, 0.363);
}

.input-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding-right: 10px;
  width: 92%;
}

.send-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-left: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.mat-grid-tile {
  border-radius: 10px;
}

.card-background {
  background: var(--tui-base-08);
}

.username-color {
  color: var(--tui-text-01-night);
}

.username-card:hover {
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: var(--tui-radius-m);
}


.list-color:hover {
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: var(--tui-radius-m);
}

.field-small {
  min-height: 3.4rem;
}


.channel-box {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(208, 2, 27, 0.3);
  border-radius: var(--tui-radius-m);
}
